@import url("assets/styles/navbar.css");
@import url("assets/styles/banner.css");
@import url("assets/styles/container.css");
@import url("assets/styles/footer.css");
@import url("assets/styles/card.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}
