.card {
  background: linear-gradient(#ebb978, #b18448);
  padding: 24px;
  border-image: url(/wood-border-rnd.png) 30 / 19px;
  border-radius: 19px;
  transition: scale 0.1s, box-shadow 0.1s;
  color: #3b210dfa;
}

.card:hover {
  box-shadow: 0 0 10px #00000081;
  scale: 102%
}

.card .desc > p {
  padding: 0 0 0 5px !important;
  margin: 0px !important;
}

.card > div {
  text-align: left;
  align-items: center;
}

.card > div > div {
  justify-items: center;
  padding: 10px;
}

.card img {
  height: 100px;
  width: 150px;
}

.card h2 {
  margin: 0 0 10px 0;
  text-align: left;
}

.card p {
  padding: 0px 5px;
  margin: 0px;
}

.lpad {
  margin-left: 10px;
}
